<form [formGroup]="formGroup" (ngSubmit)="save()">
  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput
           formControlName="firstName" name="firstName" />
    <mat-error *ngIf="formGroup.controls.firstName.errors?.required">
      Ce champ est requis.
    </mat-error>
    <mat-error *ngIf="formGroup.controls.firstName.errors?.minlength">
      Ce champ doit contenir au moins {{formGroup.controls.firstName.errors?.minlength.requiredLength}} caractères.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput
           formControlName="lastName" name="lastName" />
    <mat-error *ngIf="formGroup.controls.lastName.errors?.required">
      Ce champ est requis.
    </mat-error>
    <mat-error *ngIf="formGroup.controls.lastName.errors?.minlength">
      Ce champ doit contenir au moins {{formGroup.controls.lastName.errors?.minlength.requiredLength}} caractères.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Année de Naissance</mat-label>
    <input matInput placeholder="1950"
           type="number" formControlName="birthYear" name="birthYear" />
    <mat-hint>Format : YYYY</mat-hint>
    <mat-error *ngIf="formGroup.controls.birthYear.errors?.max">
      Ce champ doit être inférieur à {{formGroup.controls.birthYear.errors?.max.max}}.
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary">
    Save
  </button>
  <button type="button" mat-flat-button color="accent" (click)="reset()">
    Reset
  </button>
</form>
